.shell {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 16px;
}

/* Tablet */
@media (max-width: 1024px) {
    .content {
        padding: 12px;
    }
}
